*{
    margin: 0; padding: 0; box-sizing: border-box;
}



header{

    height: 100vh; width: 100%;
    background-image :linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url('./image/bg0.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    width: 100%; height: 15vh;
    background: rgba(0,0,0,0.3);
    color: wheat; display: flex;justify-content: space-between ; align-items: center; text-transform: uppercase;
    
}

nav .logo {
    width: 20%; text-align: center;

}

nav .menu{
    width: 40%;
    display:flex;justify-content: space-around
}

nav .menu a{
    text-decoration: none; color: white;
}


nav .menu a  :first-child{
    color: #00b894;
}
main{
    width: 100%;
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}


section{

}

section h3{
    font-size: 35px;
    font-weight: 200;
    letter-spacing: 3px;
    /* color: white; */
    text-shadow: 1px 1px 5px black;

}

section h1{
    margin: 30px 0 20px 0;
    font-size: 55px;
    font-weight: 700;
    text-shadow: 2px 1px 5px black;
    text-transform: uppercase;

}
 section p{
    font-size: 25px;
    color: #eee;
    word-spacing: 4px;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px black;


 }

 section a{
    padding: 12px 30px;
    border-radius: 4px;
    outline: none;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
 }

 section .btnone{
   
    background:#fff;
    color: #000;
 }

 section .btntwo{
    background: #00b894;

 }

.change_content:after{
    content:'';
    animation: changetext 10s infinite linear ;
    color: #00b894;
}

@keyframes changetext{  

    0%  { content: "DR.GAYKWAD SIR";}
    20% { content: "DR.GOPAL SIR";}
    35% { content: "DR.MANISHA MAM";}
    60% { content: "DR.VAIBHAV SIR";}
}